:root{
    --dark-green: #00425A;
    --light-green: #1F8A70;
    --yellow: #BFDB38;
    --orange: #FC7300;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--yellow);
    min-width: 325px; /* your desiredwidth */
	max-width: 100%;
	/* min-height: 500px;
	max-height: 100%; */
	position: relative;
	vertical-align: middle;
    font-family: Arial, sans-serif;
}

.head{
    color: var(--yellow);
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--dark-green);
    display: flex;
	flex-direction: column;
    /* text-transform: uppercase; */
}

.body{
    padding: 10px;
}

.head2{
    color: var(--dark-green);
    font-size: 15px;
    font-weight: 700;
}

#content{
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* left: 50px; */
    color: var(--dark-green);
    font-size: 20px;
    font-weight: 700;
}

.dots::after{
    content: "";
    animation: dot-animation 2.5s infinite ease-out;
}

@keyframes dot-animation{
    0% {content: ".";}
    33% {content: "..";}
    66% {content: "...";}
    99% {content: "";}
}